# Exclude general build artifacts and directories
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/

# Exclude all files in target/ except for maven-wrapper.jar and source code directories
target/**
!target/maven-wrapper.jar
!target/**/src/main/**
!target/**/src/test/**
